@()(implicit request: RequestHeader)

@main("ZOUND") {


    <section id="channels">

      <header>
        <h1><span class="letter">Z</span><span class="letter">O</span><span class="letter">U</span><span class="letter">N</span><span class="letter">D</span></h1>
      </header>

      @Range(0, 3).map { i =>
        <div class="channel" id="channel@i" data-channel="@i">
          <div class="head">
            <h2>Chan @i</h2>
          </div>

          <div class="volume-pitch">
            <div class="sound-volume field">
              <div class="volume-control" data-value="0.3">
                <div class="volume-handle"></div>
              </div>
              <label>Volume</label>
            </div>
            <div class="sound-pitch field">
              <div class="volume-control" data-value="0.5">
                <div class="volume-handle"></div>
              </div>
              <label>Pitch</label>
            </div>
          </div>

            <div class="sound-wave">

                <label class="wave noise">
                  <input type="radio" name="ch@i-wave" value="noise" /> 
                </label>
                <label class="wave saw">
                  <input type="radio" name="ch@i-wave" value="saw" />
                </label>
                <label class="wave sine">
                  <input type="radio" name="ch@i-wave" value="sine" />
                </label>
                <label class="wave square">
                  <input type="radio" name="ch@i-wave" value="square" /> 
                </label>

            </div>
          </div>
          }
      </section>

      <div id="controls">
        <div id="status">
          <div class="onair">ON AIR</div>
        </div>
        <audio id="stream" autoplay controls>
          <source src="@routes.Application.stream()" type="audio/wav"></source>
        </audio>
      </div>
      <div>
        <span>Stream URL:</span>
        <a style="text-decoration: none;" href="@routes.Application.stream().absoluteURL()"><code>@routes.Application.stream().absoluteURL()</code></a>
      </div>

      <p id="error"></p>

      <div style="display: none" class="images">
        <img src="/assets/images/radio.png" alt="" />
        <img src="/assets/images/radio-checked.png" alt="" />
      </div>

      <script type="text/javascript" charset="utf-8">
        var VOLUME_SIZE = 60;
        
        var MIN_PITCH = 150.0;
        var MAX_PITCH = 600.0;

        var uniqueId = Math.random(); // OK this is a hacky!

        function syncVolumeControl (node) {
          var v = parseFloat(node.attr("data-value"));
          var rotate = "rotate("+Math.round(280*(v-0.5))+"deg)";
          node.find(".volume-handle").css({
            "-webkit-transform": rotate,
            "-moz-transform": rotate,
            "-ms-transform": rotate,
            "-o-transform": rotate,
            "transform": rotate
          });
        }

        $(".volume-control").each(function(){
          syncVolumeControl($(this));
        });

        function getRelativePosition (e, node) {
          var position = node.offset();
          var x = e.clientX-(position.left+node.width()/2);
          var y = e.clientY-(position.top+node.height()/2);
          return { x: x, y: y };
        }

        function updateVolumeControl (e, node) {
          var p = getRelativePosition(e, node);
          var clickP = node.data("clickPosition");
          var clickV = node.data("clickValue");
          var a = (p.x-clickP.x)/VOLUME_SIZE;
          var v = clickV+a;
          v = Math.max(0, Math.min(v, 1));
          node.attr("data-value", v).trigger("change");
          syncVolumeControl(node);
        }

        $(".volume-control").live("mousedown", function (e) {
          e.preventDefault();
          var node = $(this);
          node.data("clickValue", parseFloat(node.attr("data-value")));
          node.addClass("mousedown").data("clickPosition", getRelativePosition(e, node));
        });
        $(document).on("mouseup", function (e) {
          var node = $(".volume-control.mousedown").removeClass("mousedown");
          if (node.size())
            updateVolumeControl(e, node);
        });
        $(document).on("mousemove", function (e) {
          var node = $(".volume-control.mousedown:first");
          if (node.size()) {
            e.preventDefault();
            updateVolumeControl(e, node);
          }
        });

        (function(){
         $("#stream").one("play", main);

         var status = $("#status");
         var error = $("#error");
         $("#stream").on("error pause ended waiting", function() {
           status.toggleClass("enabled", false);
           });
         $("#stream").on("play", function() {
           status.toggleClass("enabled", true);
         });

         var actions = {
           "osc-freq": function (o) {
            var node = $("#channel"+o.osc+" .sound-pitch .volume-control");
            if (!node.hasClass("mousedown")) {
              node.attr("data-value", (o.value-MIN_PITCH)/(MAX_PITCH-MIN_PITCH));
              syncVolumeControl(node);
            }
          },
          "osc-volume": function (o) {
            var node = $("#channel"+o.osc+" .sound-volume .volume-control");
            if (!node.hasClass("mousedown")) {
              node.attr("data-value", o.value);
              syncVolumeControl(node);
            }
          },
          "osc-wave": function (o) {
            $("#channel"+o.osc+" .wave."+o.value).click();
          }
         }

         var sock = new WebSocket("@routes.Application.controls().webSocketURL()");
         sock.onmessage = function (o) { 
          handleAction(JSON.parse(o.data)); 
         }
         sock.onerror = function () {
          error.text("An error occured with the WebSocket connection...");
         }

         function send (o) {
           sock.send(JSON.stringify(o));
         }

         function handleAction (o) {
           if (o.myId == uniqueId) return;
           if (actions[o.type])
             actions[o.type](o);
         }

         function main () {
           $(".sound-freq input").click(function(e){
               var $this = $(this),
               chan = parseInt($this.parents("div.channel:first").attr("id").replace(/[^0-9]/g, ""), 10),
               freq = parseFloat($this.val());
               send({ type: "osc-freq", osc: chan, value: freq }); 
               });

           $(".sound-wave input").change(function(e){
               var $this = $(this),
               chan = parseInt($this.parents("div.channel:first").attr("id").replace(/[^0-9]/g, ""), 10),
               wave = $this.val();
               send({ type: "osc-wave", osc: chan, value: wave });
               })

           $(".sound-volume .volume-control").on("change", function(e){
               var $this = $(this),
               chan = parseInt($this.parents("div.channel:first").attr("id").replace(/[^0-9]/g, ""), 10),
               volume = parseFloat($this.attr("data-value"));
               send({ type: "osc-volume", osc: chan, value: volume });
           });
           
           $(".sound-pitch .volume-control").on("change", function(e){
               var $this = $(this),
               chan = parseInt($this.parents("div.channel:first").attr("id").replace(/[^0-9]/g, ""), 10),
               pitch = (MAX_PITCH-MIN_PITCH)*parseFloat($this.attr("data-value"))+MIN_PITCH;
               send({ type: "osc-freq", osc: chan, value: pitch });
           });

           send({ type: "connect", msg: "ready", myId: uniqueId });
           animatingTitle();
         }



        }());

        $(".sound-wave input").change(function(){
          var checked = $(this).is(":checked");
          var label = $(this).parent();
          label.toggleClass("enabled", checked);
          if (checked)
            label.siblings().toggleClass("enabled", false);
        }).change();

        function animatingTitle () {
          (function(i, letters){
           setInterval(function(){
             ++i;
             var mod30 = i%50;
             if (mod30 < 14) {
             for (var j=0; j<letters.size(); ++j) {
             letters.eq(j).toggleClass("enabled", mod30 > 2)
             mod30 -= 2;
             }
             }
             else {
             if (mod30 < 25) {
             letters.toggleClass("enabled", mod30 % 2 == 0);
             }
             }
             }, 200);
           }(0, $("header h1 .letter")));
        }
    </script>
}
