body {
  font-family: monospace;
  background: #000;
  color: #ccc;
}

#wrapper {
  width: 600px;
  margin: 50px auto;
}

.volume-control {
  cursor: col-resize;
  position: relative;
  display: inline-block;
  width: 58px;
  height: 58px;
  background: url(/assets/images/volume-bg.png) no-repeat;
  z-index: 1;
}

.volume-handle {
  z-index: 2;
  background: url(/assets/images/volume-indicator.png) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 58px;
  height: 58px;
}

label.wave {
  cursor: pointer;
}

.wave {
  width: 25px;
  height: 25px;
  border: #333 1px solid;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-image: url(/assets/images/waves.png);
  background-color: #000;
  display: inline-block;
  margin: 0px 4px;
}
.wave.enabled {
  background-image: url(/assets/images/waves-enabled.png);
}
.wave.noise {
  background-position: 0px 0px;
}
.wave.saw {
  background-position: 0px -25px;
}
.wave.sine {
  background-position: 0px -50px;
}
.wave.square {
  background-position: 0px -75px;
}

code {
  background: #333;
  color: #999;
  padding: 1px 4px;
}

button {
  background: #555;
  color: #000;
  border: none;
  border-radius: 5px;
}
button:active, button:hover {
  background: #777;
}

#error {
  text-align: center;
  color: #f44;
  font-size: 1.4em;
  padding: 10px 0;
}

#status {
  float: left;
}

#status > div {
  display: inline-block;
  width: 60px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 0px 5px;
  padding: 2px 5px;
  border: #222 3px solid;
  color: #333;
}

#status.enabled .onair, #status:not(.enabled) .offline {
  color: #e55;
  border-color: #e55;
  text-shadow: 0px 0px 10px #f55;
  -webkit-box-shadow: 0px 0px 10px #e55;
  -moz-box-shadow: 0px 0px 10px #e55;
  box-shadow: 0px 0px 10px #e55;
}

#controls {
  padding: 10px;
  margin: 10px 0;
}

#channels {
  overflow: auto;
}

#channels * {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#channels header {
  display: block;
  text-align: right;
}
#channels header h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 1em;
  font-size: 64px;
  color: #222;
  text-shadow: 1px 1px 0px #000;
}

#channels header h1 .letter.enabled {
  color: #83f9ff;
  text-shadow: 0px 0px 5px #3eacfb;
  -webkit-text-stroke: 2px #3eacfb;
  text-stroke: 1px #3eacfb;
}

#channels .head {
  border-bottom: 1px solid #555;
  padding: 0px;
  margin: 0px 5px;
  margin-bottom: 15px;
}

#channels h2 {
  position: relative;
  top: 8px;
  padding: 0 5px;
  margin: 0;
  display: inline-block;
  background: #222;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
}

#channels .field {
  margin-left: 5%;
  width: 40%;
  display: inline-block;
}

#channels input[type=radio] {
  display: none;
}

#channels input[type=radio] + label {
  background: url(/assets/images/radio.png) no-repeat 0 50%;
  margin: 0;
  padding-left: 15px;
}

#channels input[type=radio]:checked + label {
  background-image: url(/assets/images/radio-checked.png);
}

#channels {
  padding: 5px;
  background-color: #333;
  color: #ccc;
  width: 580px;
}

.volume-pitch {
  margin-bottom: 10px;
}
.volume-pitch label {
  font-size: 12px;
}

.channel {
  text-align: center;
  float: left;
  background-color: #222;
  width: 180px;
  border-right: 2px solid #111;
  padding: 4px;
  margin-right: 5px;
}
.channel:last-child {
  margin-right: 0;
}


