body {
    width: 700px;
    margin: 50px auto;
    font-family: monospace;
    background: #000;
    color: #ccc;
}

button {
  background: #555;
  color: #000;
  border: none;
  border-radius: 5px;
}
button:active, button:hover {
  background: #777;
}

#controls {
  margin: 10px 0;
}

#channels header {
  display: block;
  text-align: right;
}
#channels header h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  letter-spacing: 1em;
  font-size: 64px;
  color: #222;
  text-shadow: 1px 1px 0px #000;
}

#channels .head {
  border-bottom: 1px solid #555;
  padding: 0px;
  margin: 0px 5px;
  margin-bottom: 15px;
  text-align: center;
}

#channels h2 {
  position: relative;
  top: 8px;
  padding: 0 5px;
  margin: 0;
  display: inline-block;
  background: #222;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
}

#channels label {
  margin-left: 5%;
  width: 40%;
  display: inline-block;
}

#channels input[type=radio] {
  content: url(/assets/images/radio.png);
  margin: 0;
  display: inline-block;
  width: 12px;
  height: 12px;
}

#channels input[type=radio]:checked {
  content: url(/assets/images/radio-checked.png);
}


#channels {
    padding: 5px;
    background-color: #333;
    color: #ccc;
    width: 585px;
}

#channels > div {
    float: left;
    background-color: #222;
    width: 180px;
    border-right: 2px solid #111;
    padding: 4px;
    margin-right: 5px;
}

#channels > div > div {
  margin-bottom: 21px;
}
